body {
  color: green;
  background-color: navy;
  font-family: monospace;
  margin: 1em;
  padding: 2em;
  text-align: center;
}

tr th {
  border: 1px solid salmon;
}

tr td {
  border: 2px solid black
}

input {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#root {
  max-width: 1280px;
  margin: auto;
}












