body {
  color: rgb(160, 219, 160);
  background-color: navy;
  background: linear-gradient(
    160deg,
    #091755 0%,
    #143a90 40%,
    #17305a 70%,
    #0f172a 100%);
  font-family: monospace;
  margin: 1em;
  padding: 2em;
  text-align: center;
}
table{
  padding-bottom: 1em;
}

h1 {
    text-shadow:
    0 1px 0 #ffffff33,
    0 -1px 0 #00000066,
    0 2px 4px #00000055;
}

tr th, td {
  border: 1px solid salmon;
  padding: .4em;
}

tr td {
  border: 1px solid rgb(186, 78, 66);
  
}

input {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:rgb(159, 158, 95);
  background:rgb(13, 57, 180);
  padding-top: 1em;
}

#root {
  max-width: 1280px;
  margin: auto;
}

footer {
  padding-top: 4em;
}











